In [72]:
import numpy as np
import pandas as pd
import numpy as np
import pandas as pd
dataset=pd.read_csv("xAPI-Edu-Data.csv")

In [73]:
dataset.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M

In [74]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    480 non-null    object
 1   NationalITy               480 non-null    object
 2   PlaceofBirth              480 non-null    object
 3   StageID                   480 non-null    object
 4   GradeID                   480 non-null    object
 5   SectionID                 480 non-null    object
 6   Topic                     480 non-null    object
 7   Semester                  480 non-null    object
 8   Relation                  480 non-null    object
 9   raisedhands               480 non-null    int64
 10  VisITedResources          480 non-null    int64
 11  AnnouncementsView         480 non-null    int64
 12  Discussion                480 non-null    int64
 13  ParentAnsweringSurvey     480 non-null    object
 14  ParentschoolSatisfaction  480 non-null    object
 15  StudentAbsenceDays        480 non-null    object
 16  Class                     480 non-null    object
dtypes: int64(4), object(13)
memory usage: 63.9+ KB

In [75]:
gradeM = {'L': 0, 'M': 1, 'H': 2}
dataset = dataset.replace({'Class': gradeM})

In [76]:
dataset.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,1
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,1
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,0
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,0
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,1

In [77]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    480 non-null    object
 1   NationalITy               480 non-null    object
 2   PlaceofBirth              480 non-null    object
 3   StageID                   480 non-null    object
 4   GradeID                   480 non-null    object
 5   SectionID                 480 non-null    object
 6   Topic                     480 non-null    object
 7   Semester                  480 non-null    object
 8   Relation                  480 non-null    object
 9   raisedhands               480 non-null    int64
 10  VisITedResources          480 non-null    int64
 11  AnnouncementsView         480 non-null    int64
 12  Discussion                480 non-null    int64
 13  ParentAnsweringSurvey     480 non-null    object
 14  ParentschoolSatisfaction  480 non-null    object
 15  StudentAbsenceDays        480 non-null    object
 16  Class                     480 non-null    int64
dtypes: int64(5), object(12)
memory usage: 63.9+ KB

In [78]:
dataset.nunique()

gender                       2
NationalITy                 14
PlaceofBirth                14
StageID                      3
GradeID                     10
SectionID                    3
Topic                       12
Semester                     2
Relation                     2
raisedhands                 82
VisITedResources            89
AnnouncementsView           88
Discussion                  90
ParentAnsweringSurvey        2
ParentschoolSatisfaction     2
StudentAbsenceDays           2
Class                        3
dtype: int64

In [80]:
dataset.drop(['Topic', 'GradeID','NationalITy'], axis=1, inplace= True)

In [81]:
oh = pd.get_dummies(dataset,columns=["gender","PlaceofBirth","StageID","SectionID","Semester","Relation","ParentAnsweringSurvey","ParentschoolSatisfaction","StudentAbsenceDays"],prefix=["gender","PlaceofBirth","StageID","SectionID","Semester","Relation","ParentAnsweringSurvey","ParentschoolSatisfaction","StudentAbsenceDays"])
oh.columns

Index(['raisedhands', 'VisITedResources', 'AnnouncementsView', 'Discussion',
       'Class', 'gender_F', 'gender_M', 'PlaceofBirth_Egypt',
       'PlaceofBirth_Iran', 'PlaceofBirth_Iraq', 'PlaceofBirth_Jordan',
       'PlaceofBirth_KuwaIT', 'PlaceofBirth_Lybia', 'PlaceofBirth_Morocco',
       'PlaceofBirth_Palestine', 'PlaceofBirth_SaudiArabia',
       'PlaceofBirth_Syria', 'PlaceofBirth_Tunis', 'PlaceofBirth_USA',
       'PlaceofBirth_lebanon', 'PlaceofBirth_venzuela', 'StageID_HighSchool',
       'StageID_MiddleSchool', 'StageID_lowerlevel', 'SectionID_A',
       'SectionID_B', 'SectionID_C', 'Semester_F', 'Semester_S',
       'Relation_Father', 'Relation_Mum', 'ParentAnsweringSurvey_No',
       'ParentAnsweringSurvey_Yes', 'ParentschoolSatisfaction_Bad',
       'ParentschoolSatisfaction_Good', 'StudentAbsenceDays_Above-7',
       'StudentAbsenceDays_Under-7'],
      dtype='object')

In [82]:
oh = oh.reindex(columns = [col for col in oh.columns if col != 'Class'] + ['Class'])
oh

,raisedhands,VisITedResources,AnnouncementsView,Discussion,gender_F,gender_M,PlaceofBirth_Egypt,PlaceofBirth_Iran,PlaceofBirth_Iraq,PlaceofBirth_Jordan,...,Semester_S,Relation_Father,Relation_Mum,ParentAnsweringSurvey_No,ParentAnsweringSurvey_Yes,ParentschoolSatisfaction_Bad,ParentschoolSatisfaction_Good,StudentAbsenceDays_Above-7,StudentAbsenceDays_Under-7,Class
0,15,16,2,20,0,1,0,0,0,0,...,0,1,0,0,1,0,1,0,1,1
1,20,20,3,25,0,1,0,0,0,0,...,0,1,0,0,1,0,1,0,1,1
2,10,7,0,30,0,1,0,0,0,0,...,0,1,0,1,0,1,0,1,0,0
3,30,25,5,35,0,1,0,0,0,0,...,0,1,0,1,0,1,0,1,0,0
4,40,50,12,50,0,1,0,0,0,0,...,0,1,0,1,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,5,4,5,8,1,0,0,0,0,1,...,1,1,0,1,0,1,0,1,0,0
476,50,77,14,28,1,0,0,0,0,1,...,0,1,0,1,0,1,0,0,1,1
477,55,74,25,29,1,0,0,0,0,1,...,1,1,0,1,0,1,0,0,1,1
478,30,17,14,57,1,0,0,0,0,1,...,0,1,0,1,0,1,0,1,0,0
479,35,14,23,62,1,0,0,0,0,1,...,1,1,0,1,0,1,0,1,0,0

In [83]:
oh.shape

(480, 37)

In [84]:
x = oh.iloc[:, :-1].values
y = oh.iloc[:,-1].values

In [85]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=22)

In [106]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X_train, y_train)

RandomForestClassifier()

In [107]:
y_pred = clf.predict(X_test)

In [118]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
print("ACCURACY OF THE MODEL: ", accuracy_score(y_test, y_pred))
print("F1 OF THE MODEL: ", f1_score(y_test,y_pred, average='macro'))

ACCURACY OF THE MODEL:  0.9166666666666666
F1 OF THE MODEL:  0.9146896975694602